---
title: Althoernli | 2015
---

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(222,222,222,0.3) 0%, rgba(0,36,61,0.3) 70%), url(<%= image_path "2015_background.jpg" %>)">
  <%#= image_tag "2015_background.jpg", width: "100%" %>

  <div class="container">

    <div class="row">

      <div class="banner-content">

        <div class="col col-xs-12">
          <div class="card homepage-card flyer" >
            <%= image_tag "2015_flyer_front.jpg", width: "100%" %>
          </div>
        </div>

        <div class="col col-xs-12">
          <div class="card homepage-card flyer" >
            <%= image_tag "2015_flyer_back.jpg", width: "100%" %>
          </div>
        </div>

      </div>

    </div>

  </div>

</div>


<div class="container">
  <%  %>
  <div class="row">

    <div class="col col-xs-12 col-sm-4">
      <%= image_tag "2015_1.jpg", width: "100%" %>
    </div>


  </div>

</div>























